:root {
    --primary: #00f;
    --secondary: #0ff;
    --suceess: #28a745;
    --warning: #ffaf02;
    --danger: #dc3545;
    --light: #eee;
    --dark: #343a40;
    --background: #fff;
    --foreground: #000;
    --text: #000;
    --fullfilled: #da9604;
    --shadow: 0 1px 3px rgb(0 0 0 / 10%);
    --empty: rgb(99 97 97 / 50%);
    --switch: var(--dark);
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: content-box;
    width: 90%;
    max-width: 90rem;
    margin: 5rem auto;
    padding: 0 1rem;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
    background-color: var(--background);
    color: var(--text);
    font-family: "Segoe UI", Arial, sans-serif;
}

body.dark-theme {
    --primary: #d6ec1b;
    --secondary: #0f24ae;
    --suceess: #28a745;
    --warning: #ffaf02;
    --danger: #f00;
    --light: #6c757d;
    --dark: #313154;
    --background: var(--dark);
    --foreground: #000;
    --text: var(--primary);
    --fullfilled: #da9604;
    --shadow: 0 1px 3px rgb(0 0 0 / 10%);
    --empty: rgb(99 97 97 / 50%);
    --switch: #fff;
}

body.party {
    animation: party 1s linear infinite;
    color: white;
}

@keyframes party {
    0% {
        background-color: red;
    }

    14% {
        background-color: orange;
    }

    28% {
        background-color: yellow;
    }

    42% {
        background-color: green;
    }

    57% {
        background-color: blue;
    }

    71% {
        background-color: indigo;
    }

    100% {
        background-color: violet;
    }
}

#nyan-cat {
    position: fixed;
    top: -1rem;
    width: 8rem;
    height: 8rem;
    background-image: url("../assets/partycat.gif");
    background-size: cover;
    animation: fly 4s linear infinite;
    display: none;
}

body.party #nyan-cat {
    display: block;
}

@keyframes fly {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(1000%);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 0.5rem;
    border: 0.1rem solid black;
    border-radius: 0.25rem;
    color: var(--primary);
    background-color: var(--light);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.5;
}

textarea {
    resize: vertical;
}

.about-body {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 25rem;
    max-width: 70rem;
    align-items: flex-end;
    padding: 0.5rem;
}

.form-body {
    width: 30%;
    min-width: 25rem;
    max-width: 70rem;
}

.theme-toggle {
    background-color: var(--switch);
}

.theme-icon {
    color: var(--light);
}

.about-icon {
    filter: invert(1);
}

.home-icon {
    filter: invert(1);
}

.header-buttons {
    display: flex;
    gap: 0.5rem;
}

.controller,
.controller * {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
}

.controller {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.controller .subcontrol {
    flex-wrap: wrap;
    gap: 0.5rem;
}

.sorters {
    gap: inherit;
}

.nav-link-button-todo {
    text-decoration: none;
}

.sortbutton.active[data-sortorder="asc"]::after {
    content: "▲";
}

.sortbutton.active[data-sortorder="desc"]::after {
    content: "▼";
}

.todo-list {
    padding: 1rem;
}

.todo-list-item,
.todo-list-item * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.todo-list-item {
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: var(--light);
    box-shadow: var(--shadow);
}

.todo-list-item.deleting {
    animation: shrink 0.5s forwards;
}

@keyframes shrink {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

.todo-title {
    width: 50%;
}

.todo-duedate {
    width: 10%;
    min-width: min-content;
}

.todo-duedate.past-due {
    color: var(--danger);
}

.todo-checkbox {
    width: auto;
}

.colored-star {
    color: var(--fullfilled);
    font-variation-settings: "FILL" 1;
}

.empty-star {
    color: var(--empty);
    font-variation-settings: "FILL" 1;
}

.todo-list-item .button-delete:hover {
    background-color: var(--danger);
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px solid #000;
    background-color: var(--light);
    z-index: 1000;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}

.form-head {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.form-controller .form-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.25rem;
    gap: 1rem;
}

.form-row label {
    font-weight: bold;
}

.form-row-submitting {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@keyframes button-animation {
    0% {
        transform: scale(1);
        background-color: initial;
    }

    50% {
        transform: scale(0.5);
        background-color: green;
    }

    100% {
        transform: scale(1);
        background-color: initial;
    }
}

#form-submit[data-action="update"].clicked {
    animation: button-animation 1s;
}
